footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-section {
  background-color: #1e293b;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: #22c55e;
}
