<div class="row g-0 admin-wrapper">
  <div class="col-2 bg-primary min-vh-100">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10 admin-content">
    @if (recipeId) {
      <h3 class="page-title">Edit Recipe Details</h3>
    }
    @else {
    <h3 class="page-title">Add Recipe Details</h3>

    }
    
    <div class="card recipe-card">
      <div class="row g-3">

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.name" [value]="recipeDetails.name" type="text" class="form-control" placeholder="Recipe Name">
        </div>

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.cookTimeMinutes" type="text" class="form-control" placeholder="Cooking Time">
        </div>

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.prepTimeMinutes" type="text" class="form-control" placeholder="Preparation Time">
        </div>

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.servings" type="text" class="form-control" placeholder="Recipe Servings">
        </div>

        <div class="col-md-6">
          <select [(ngModel)]="recipeDetails.cuisine" class="form-control" name="" id="">
              <option value="" hidden>select</option>
            @for (item of cuisineArray; track $index) {
              <option [value]="item">{{item}}</option>
            }
            
          </select>
        </div>

        <div class="col-md-6">
          <select  [(ngModel)]="recipeDetails.difficulty" class="form-control" placeholder="choose mode of cooking">
            <option value="" hidden disabled selected>choose mode of cooking</option>
            <option value="easy">easy</option>
            <option value="medium">medium</option>
            <option value="hard">hard</option>
          </select>
        </div>

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.image" type="text" class="form-control" placeholder="Recipe Image URL">
        </div>

        <div class="col-md-6">
          <input [(ngModel)]="recipeDetails.caloriesPerServing" type="text" class="form-control" placeholder="Calories">
        </div>
<div class="d-flex">
<div class="col-md-6 position-relative">
          <textarea #ingredients class="form-control" rows="4" placeholder="Ingredients"></textarea>
          <button (click)="addIngredients(ingredients)" class="btn btn-success add-btn">+</button>
          
        </div>
        <div class="ms-4">
          @for (item of ingredientsArray; track $index) {
            <p>{{item}} <button class="btn btn-danger" (click)="deleteIngredients($index)">delete</button></p>
          }
        </div>
</div>
        
  <div class="d-flex">
    <div class="col-md-6 position-relative">
          <textarea #instructions class="form-control" rows="4" placeholder="Cooking Instructions"></textarea>
          <button (click)="addInstructions(instructions)" class="btn btn-success add-btn">+</button>
        </div>
        <div class="ms-4">
          @for (item of instructionsArray; track $index) {
              <p>{{item}}<button class="btn btn-danger" (click)="deleteInstructions($index)" >delete</button></p>
          }
          
        </div>
  </div>
        

        <div class="col-12">
          <!-- <div class="meal-box">
            <label class="fw-semibold mb-2 d-block">Choose Meal Type :</label>

            <div class="meal-options">
              @for (item of mealTypeArray; track $index) {
                <label><input type="checkbox"> {{item}}</label>
              }
              
              
            </div>
          </div> -->
          <div class="mb-3">
                    <div class="d-flex  my-1">
                        <!-- meal type -->
                            <input #mealInput type="text" placeholder="Add Meal Type of the Recipe (ex: Breakfast, Lunch, Dinner, Side Dish, Appetizer etc):" class="form-control">
                            <button (click)="addMeal(mealInput)" class="btn fw-bolder fs-3 me-3">+</button>
                    </div>
                     <div class="d-flex flex-wrap my-1">
                    <!-- duplicate meal type -->
                        @for (item of mealTypeArray; track $index) {
                            <div class="border rounded p-1 m-1">
                                <span class="fw-bolder">{{item}}</span>
                                <button (click)="removeMeal(item)" class="btn"><i class="fa-solid fa-x"></i></button>
                            </div>
                        }
                     </div>
                </div>
        </div>

        <div class="col-12 text-center mt-4">
          @if (recipeId) {
            <button (click)="editRecipe()" class="btn btn-success px-5">Edit</button>
          }
          @else{
            <button (click)="addRecipe()" class="btn btn-success px-5">Add Recipe</button>
          }
          
          
        </div>

      </div>
    </div>

  </div>
</div>
