.page-title {
  text-align: center;
  color: #004cff;
  font-weight: 600;
  margin-bottom: 30px;
}

.admin-wrapper {
  min-height: 100vh;
  background-color: #f5f7fb;
}

.admin-content {
  padding: 30px;
}

.recipe-card {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-control {
  border-radius: 10px;
  padding: 12px;
}

.add-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}


.meal-box {
  background: #f9fafc;
  border-radius: 12px;
  padding: 20px;
}

.meal-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.meal-options label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
